In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import scipy.stats as stats
from datetime import date,timedelta
from datetime import datetime
import warnings
warnings.filterwarnings("ignore")
import mysql.connector
pd.set_option('display.max_columns', None)

In [2]:
conn = mysql.connector.connect(
    host='212.227.90.6',
    user='Equipo19',
    password='E1q2u3i4p5o19',
    database='Equip_19'
)

cursor = conn.cursor()

cursor.execute("SHOW TABLES")
tablas = [t[0] for t in cursor.fetchall()]


dfs = {tabla: pd.read_sql(f"SELECT * FROM {tabla}", conn) for tabla in tablas}

df = dfs['Tourist_Accommodation']

In [3]:
precio_medio_ciudad_tipo = df.groupby(['city', 'room_type'])[['price']].mean().reset_index().round(2)
precio_medio_ciudad_tipo

         city        room_type    price
0   barcelona  Entire home/apt  1295.79
1   barcelona       Hotel room  1444.29
2   barcelona     Private room   455.28
3   barcelona      Shared room   373.33
4      girona  Entire home/apt  1229.50
5      girona       Hotel room   625.00
6      girona     Private room   602.12
7      madrid  Entire home/apt   938.57
8      madrid       Hotel room   902.50
9      madrid     Private room   370.88
10     madrid      Shared room   313.33
11     malaga  Entire home/apt   817.33
12     malaga       Hotel room   703.33
13     malaga     Private room   361.38
14     malaga      Shared room   143.33
15   mallorca  Entire home/apt  1713.20
16   mallorca       Hotel room  1401.67
17   mallorca     Private room   709.76
18   mallorca      Shared room   493.33
19    menorca  Entire home/apt  1647.30
20    menorca     Private room   574.55
21    sevilla  Entire home/apt  1046.24
22    sevilla       Hotel room   918.57
23    sevilla     Private room   599.03
24    sevilla      Shared room   120.00
25   valencia  Entire home/apt   794.48
26   valencia       Hotel room   955.00
27   valencia     Private room   341.18
28   valencia      Shared room   203.33