In [3]:
import mysql.connector
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\irene\Desktop\DataAnalytics\Bootcamp\Simulacro empresarial\ProjecteData\Equip_19\Data\Tourist_Accommodation_data_cleaning_29102025.csv")

In [ ]:
# Columnas que interesan
filterAccommodations = df.loc[:,['city','availability_30','availability_60', 'availability_90', 'availability_365']].set_index('city').round(2)

# Media de la disponibilidad para cada periodo por ciudad:
cityFilter_Accommodations = filterAccommodations.groupby('city').mean().round(2)

cityFilter_Accommodations

           availability_30  availability_60  availability_90  availability_365
city
Barcelona            11.11            25.63            42.50            182.09
Girona               14.59            31.27            48.35            195.07
Madrid               10.41            24.12            39.95            163.56
Mallorca             13.41            28.70            45.17            210.92
Menorca              14.99            30.88            47.54            199.49
Málaga               12.14            28.43            47.13            202.65
Sevilla              14.06            30.92            50.05            199.75
Valencia             13.59            29.73            47.72            183.75